.active-friends {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  .active-friend {
    overflow: hidden;
    .image-active-icon {
      overflow-x: scroll;
      display: flex;
      &::-webkit-scrollbar {
        overflow: hidden;
      }
      .image {
        margin: 5px;
        position: relative;
        img {
          width: 38px;
          height: 38px;
          border-radius: 50%;
        }
        .active-icon {
          position: absolute;
          bottom: 3px;
          right: 3px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: rgb(27, 223, 53);
        }
      }
    }
  }
}
